@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Great+Vibes&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Cormorant Garamond', serif;
    background:#f6f0e6;
    color:#18392b;
}

/* Navbar */

.navbar{
    width:100%;
    background:#0f3b2f;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
}

.navbar a{
    text-decoration:none;
    color:#f5d28c;
    font-size:18px;
    transition:0.3s;
}

.navbar a:hover{
    color:white;
}

.logo h2{
    color:#f5d28c;
    font-size:24px;
}

.active{
    border-bottom:2px solid #f5d28c;
    padding-bottom:5px;
}

/* Home Page */

.home-container{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:60px;
    gap:60px;
    flex-wrap:wrap;
}

.home-text{
    max-width:450px;
}

.welcome{
    font-size:30px;
    margin-bottom:10px;
}

.home-text h1{
    font-size:90px;
    font-family:'Great Vibes', cursive;
    font-weight:400;
}

.home-text h2{
    letter-spacing:3px;
    color:#b07b25;
    margin-bottom:20px;
}

.description{
    font-size:28px;
    line-height:1.5;
}

.line{
    width:120px;
    height:2px;
    background:#b07b25;
    margin:20px 0;
}

.home-image img{
    /* padding-left: 20px; */
    width:400px;
    border-radius:100%;
    border:6px solid #b07b25;
}

/* About */

.about-section{
    background:#0f3b2f;
    color:white;
    text-align:center;
    padding:80px 20px;
}

.about-section h2{
    font-size:60px;
    font-family:'Great Vibes', cursive;
    margin-bottom:20px;
}

.about-section .line{
    margin:auto;
    margin-bottom:30px;
}

.about-section p{
    max-width:800px;
    margin:auto;
    font-size:28px;
    line-height:1.8;
}

/* Design Page */

.design-page{
    text-align:center;
    padding:60px 30px;
}

.design-page h1{
    font-size:80px;
    font-family:'Great Vibes', cursive;
}

.subtitle{
    font-size:30px;
    margin-bottom:40px;
}

.design-page .line{
    margin:auto;
    margin-top:15px;
    margin-bottom:25px;
}

.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.gallery img{
    width:100%;
    height:350px;
    object-fit:cover;
    border-radius:15px;
    transition:0.4s;
}

.gallery img:hover{
    transform:scale(1.03);
}

/* Contact Page */

.contact-page{
    text-align:center;
    padding:70px 20px;
}

.contact-page h1{
    font-size:80px;
    font-family:'Great Vibes', cursive;
}

.contact-page .line{
    margin:auto;
    margin-top:20px;
    margin-bottom:25px;
}

.contact-text{
    font-size:30px;
    margin-bottom:50px;
}

.contact-box{
    max-width:700px;
    margin:auto;
}

.contact-item{
    background:white;
    padding:30px;
    margin-bottom:25px;
    border-radius:20px;
    box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

.contact-item h3{
    font-size:35px;
    color:#b07b25;
    margin-bottom:10px;
}

.contact-item p,
.contact-item a{
    font-size:28px;
    text-decoration:none;
    color:#18392b;
}

/* Responsive */

@media(max-width:768px){

    .navbar{
        padding:20px;
    }

    .home-text h1{
        font-size:70px;
    }

    .home-image img{
        width:100%;
    }

    .design-page h1,
    .contact-page h1{
        font-size:60px;
    }

    .about-section h2{
        font-size:50px;
    }
}